body {
    margin-top: 60px;
}

.jumbotron {
    background: linear-gradient(rgba(20,20,20,0.2), rgba(20,20,20,0.2)), url('/img/cover.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px;
    border-radius: 0;
}

.jumbotron.welcome {
    padding: 4rem 2rem !important;
    margin-bottom: 0 !important;
}

section.about, section.hosting, section.contact {
    padding: 4rem 1rem;
}

p.description {
    font-size: 1.1rem;
    line-height: 1.55em;
}
