<!-- Fixed navbar -->
<nav class="navbar fixed-top navbar-expand-lg bg-default">
    <div class="container">
        <div class="navbar-translate">
            <!-- Navbar logo -->
            <a class="navbar-brand align-items-center" href="/" style="height: auto">
                <img src="/assets/img/nav_logo.svg" style="height: 24px;" alt="Razex.de" />
            </a>

            <!-- Navbar toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#about-us">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hosting-offers">Hosting offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-us">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://status.razex.de" target="_blank"><span class="fas fa-external-link-alt fa-fw"></span> Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://mail.codebucket.de" target="_blank"><span class="fas fa-external-link-alt fa-fw"></span> Webmail</a>
                </li>
            </ul>
        </div>
    </div>
</nav>